:root {
    --NORMAL_SIZE_DESKTOP: 20px;
    --LARGE_SIZE_DESKTOP: 24px;
    --NORMAL_SIZE_MOBILE: 17px;
    --HEADING_MEDIUM_SIZE_DESKTOP: 70px;
    --HEADING_MEDIUM_SIZE_MOBILE: 50px;
    --HEADING_LARGE_SIZE_MOBILE: 70px;
    --LARGE_SIZE_MOBILE: 20
}